body {
    background-color: #e0e0e0;
    color: rgb(9, 30, 61);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em; /* This is the master size adjuster for various screen sizes */
}

.indexLinks {
    text-decoration: none;
    color: inherit;
}

fieldset {  
    border-radius: 2em;
    background: #e0e0e0;
    border: none;
    box-shadow: 0.4em 0.4em 0.8em #9d9d9d, -0.4em -0.4em 0.8em #ffffff;
    font-size: 1em;
    max-width: 40em;
    padding: 0.375em 1.5em 1.625em 1.5em;
}

legend {
    background-color: #e0e0e0;
    box-shadow: 0.1em 0em 0.2em #9d9d9d;
    border-radius: 0.7em;
    font-size: 2em;
    text-align: left;
    padding: 0em 0.5em;
    margin-left: 0.25em;
}

img {
    border-radius: 0.5em;
    max-height: 40em;
}

.buttonArray {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: -0.5em 1em 1em 1em;
}

.icon {
    max-height: 4em;
}