h1 {
    font-size: 3em;
}

body {
    background-color: #e0e0e0;
    color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em; /* This is the master size adjuster for various screen sizes */
}

.indexLinks {
    text-decoration: none;
    color: inherit;
}

fieldset {  
    border-radius: 2em;
    background: #e0e0e0;
    border: none;
    box-shadow: 0.4em 0.4em 0.8em #9d9d9d, -0.4em -0.4em 0.8em #ffffff;
    font-size: 1em;
    max-width: 40em;
    padding: 0.375em 1.25em 1.25em 1.25em;
    margin: 0em 0.75em;
}

legend {
    background-color: #192BC2;
    color: #ffffff;
    font-size: 1.5em;
    text-align: left;
    padding: 0em 0.25em;
    margin-left: 0.5em;
}

img {
    border-radius: 0.75em;
    max-height: 40em;
}

.buttonArray {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.25em 0em 1.5em 0em;
}

.icon {
    max-height: 40px;
}